.main
{
    width: 900px;
    height: 500px;
    margin: 22px;
    margin-top: 50px;
    border: 2px solid black;
    position: absolute;
}
.main div
{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
}
.first
{
    background-color: burlywood;
    position: relative;
    right: -90px;
    bottom: 355px;
}
.second
{
    background-color: aqua;
    position: relative;
    bottom: -50px;
    left: 789px;
}
.third
{
    background-color: blueviolet;
    position: relative;
    bottom: -50px;
    right: 729px;
}
.fourth
{
    background-color: cornflowerblue;
    position: relative;
    bottom: 355px;
    right: 729px;
}